<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='js/vis.min.js')}}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <style>
        #container {
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              position: absolute;
        }
        #network {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
        }
        #popup {
              display:none;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 10;
        }
        #from_id {
            visibility: hidden;
        }

        </style>
    </head>
    <body>
        <div id="container">
            <div id="network"></div>
            <div id="popup">
                <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                <form action="{{ url_for('addNode') }}" method="post" target="dummyframe">
                  <input type="text" id="from_id" name="from_id"><br>
                  <label for="label">New word:</label><br>
                  <input type="text" id="label" name="label"><br><br>
                  <input type="submit" value="Submit" id="add_node_submit">
                </form>
            </div>
        </div>

        <script>
            var nodes = new vis.DataSet({{nodes | tojson | safe}});

            // create an array with edges
            var edges = new vis.DataSet({{edges | tojson | safe}});

            // create a network
            var container = document.getElementById("network");

            var data = {
              nodes: nodes,
              edges: edges,
            };
            var options = {clickToUse: true,
                           nodes: { font: { strokeWidth: 0 } },
                           edges: { font: { strokeWidth: 0 } },
                           physics: {
                            enabled: true,
                            solver: "forceAtlas2Based",
                            stabilization: {
                              enabled: false // This is here just to see what's going on from the very beginning.
                            }
                          }};
            var network = new vis.Network(container, data, options);
            var socket = io();

            network.on('doubleClick', function(e) {
                if(e.nodes.length != 0) {
                    var form_container = document.getElementById("popup");
                    form_container.style.left = e.event.center.x+"px";
                    form_container.style.top = e.event.center.y+"px";
                    form_container.style.display = 'block';
                    var id_input = document.getElementById("from_id");
                    id_input.value = e.nodes[0]
                }
            });

            var theSubmitButton = document.getElementById('add_node_submit');
            theSubmitButton.onclick = function() {
                var form_div = document.getElementById('popup');
                form_div.style.display = 'none';
            }

            socket.on('newNode', function(node) {
                network.body.data.nodes.add(node)
            });
            socket.on('newEdge', function(edge) {
                network.body.data.edges.add(edge)
            });
            socket.on('updateEdge', function(edge) {
               edges.update({id: edge.id, label: edge.label});
            });
        </script>
    </body>
</html>